* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: tahoma, sans-serif;
}
a {
  text-decoration: none;
}
.container {
  margin: auto;
  width: 90%;
}
header {
  background-color: #333;
  width: 100%;
  top: 0;
  position: fixed;
}
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
.header-content .logo {
  font-size: 32px;
  color: #fff;
}
.header-content nav ul {
  list-style: none;
  display: flex;
}
.header-content nav ul#username {
  list-style: none;
  display: none;
}
.header-content nav ul li {
  margin-left: 40px;
  position: relative;
}
.header-content nav ul#username li i {
  color: #fff;
  font-size: 17px;
  cursor: pointer;
}

.header-content nav ul#username li .badge {
  display: none;
  text-align: center;
  line-height: 15px;
  color: #fff;
  background-color: #f22;
  border-radius: 50%;
  font-size: 10px;
  width: 15px;
  height: 15px;
  position: absolute;
  top: -5px;
  right: -8px;
}
.header-content nav ul#username li .drop-down {
  display: none;
  position: absolute;
  width: 200px;
  max-height: 600px;
  overflow: scroll;
  background-color: #efefef;
  top: 40px;
  left: -120px;
  padding: 10px;
  box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.15), 0px 2px 3px rgba(0, 0, 0, 0.2);
}
.header-content nav ul#username li .drop-down p {
  margin-bottom: 5px;
}
.header-content nav ul#username li .drop-down a {
  background-color: #2fd466;
  padding: 10px;
  display: block;
  text-decoration: none;
  text-align: center;
}
.header-content nav ul li a {
  color: #fff;
  text-decoration: underline;
}
.section-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  background-color: blueviolet;
  padding: 20px;
}
.section-form h2 {
  text-align: center;
  color: rgb(139, 0, 46);
  margin-bottom: 15px;
  letter-spacing: 2px;
  font-size: 50px;
  font-weight: 600;
}
.section-form input {
  display: block;
  height: 40px;
  margin: 5px 0;
  width: 100%;
  padding: 0 5px;
  border: none;
  border-radius: 3px;
}
.section-form input:focus {
  outline: 1px solid #f00;
}
.section-form input[type="submit"] {
  font-size: 24px;
  text-transform: uppercase;
}
.section-form input[type="submit"]:hover {
  opacity: 0.8;
  cursor: pointer;
}
.section-form input[type="submit"]:focus {
  outline: none;
  color: rgba(7, 103, 110, 0.781);
}
/* Products */
.products {
  width: 60%;
  margin: 80px 0;
}
.product-item {
  display: flex;
  border: 1px solid #ddc;
  width: 100%;
  margin-bottom: 15px;
  min-height: 150px;
}
.product-item-img {
  width: 25%;
  margin-right: 10px;
  object-fit: cover;
}
.product-item-action {
  text-align: right;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.add-to-cart {
  display: block;
  margin-left: auto;
  background-color: #2fd466;
  color: #fff;
  padding: 10px 20px;
  letter-spacing: 2px;
  border: none;
  cursor: pointer;
}
.product-item-action .myIcon {
  cursor: pointer;
  width: 20px;
  margin-left: auto;
  margin-right: 5px;
  margin-bottom: 5px;
}
.delete {
  background-color: rgb(252, 86, 86);
}
